 <!-- {{ (totalNovo | json) }} -->





 <!-- <asp:TextBox ID="Data_Nascimento" placeholder="Please specify a date" name="Data_Nascimento" TextMode="Date" runat="server" size="10" MaxLength="10" TabIndex="3"></asp:TextBox> -->

<input type="date"  TextMode="Date">

<div *ngFor="let posts of totalNovo">
  <div class="p"> {{posts.package.name}} </div>
</div>

  <!--p>{{ posts.package.date }}</!--p>
  <p>{{ posts.package.author?.name }}</p>
  <p>{{ posts.package.description }}</p>
  <p>{{ posts.package.links.bugs }}</p>
  <p>{{ posts.package.links.homepage }}</p>
  <p>{{ posts.package.links.npm }}</p>
  <p>{{ posts.package.links.repository }}</p>

  <section *ngFor="let itens of posts.package.maintainers; index as i ">

    <p>N-{{i}} -> {{ itens.username }} -> {{ itens.email }}</p>

  </section>

  <p>{{ posts.package?.name }}</p>
  <p>{{ posts.package.publisher.email }}</p>
  <p>{{ posts.package.publisher.username }}</p>
  <p>{{ posts.package.scope }}</p>

  <p>{{ posts.package.version }}</p>
  <p>{{ posts.score.detail.maintenance }}</p>
  <p>{{ posts.score.detail.popularity }}</p>
  <p>{{ posts.score.detail.quality }}</p>
  <p>{{ posts.score.final }}</p>
  <p>{{ posts.searchScore }}</p><br>
</div> -->
<app-header></app-header>
<div class="content">
  <app-carousel [totalNovo]="totalNovo"> </app-carousel>
</div>
<app-footer></app-footer>
